.auth {
    width: 100vw;
    min-height: 100vh;
    background: #fff;

    .form {
        padding: 20px;
        /* width: 440px; */
        border-radius: 10px;
    }

    h2 {
        font-size: 2rem;
        margin: 0;
    }

    p {
        margin: 0;
        color: #8B8B8B;
        margin-bottom: 10px;
    }

    form {
        width: 100%;

        label {
            width: 100% !important;
            width: 400px;
            display: flex;
            flex-direction: column;
            cursor: pointer;
        }

        input,
        select {
            width: 400px;
            padding: 10px 20px;
            margin: 10px 0;
            border-radius: 14px;
            background: #F3F3F3;
            border: 1px solid #B3B3B3;
            font-weight: 500;
        }

        select {
            width: 100%;
        }

        .error {
            color: #eb2d3a;
            font-size: 0.9rem;
            margin-bottom: 10px;
        }

        input.error {
            color: #000;
            border: 1px solid #eb2d3a;
        }
    }

    button {
        border: 1px solid var(--text);
        background: #FFF;
        color: var(--text);
        padding: 8px 20px;
        width: 100%;
        border-radius: 5px;
    }

    .msg {
        margin: 10px;
        font-weight: 400;
    }

    a {
        color: var(--accent-color);
    }
    
    .signup {
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    .auth {
        min-height: 100vh;

        .form {
            /* width: 100%; */
            height: 100% !important;
            box-shadow: none;
        }

        input {
            width: 90% !important;
        }
    }
}