.chat-preview {
    height: 100px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    border-bottom: 1px solid #e7e7e7;

    &:hover .title {
        text-decoration: underline;
    }

    .title {
        font-weight: 600;
        font-size: 1.4rem;
    }

    .info {
        margin-left: auto;
    }

    .unread {
        background: var(--accent-color);
        color: #fff;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-weight: 600;
    }

    .avatar {
        height: 100%;
        width: 100px;
        position: relative;
        overflow: visible;
        margin-right: 20px;
        flex-shrink: 0;
    }

    .img {
        overflow: hidden;
        border-radius: 50%;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .members {
        position: absolute;
        padding: 4px 8px;
        background: #000;
        color: #fff;
        top: -10px;
        right: -10px;
        border-radius: 8px;
    }
}

.chats {
    min-height: calc(90vh);

    .active {
        display: flex;
        height: 500px;
        overflow-y: scroll;
        scrollbar-width: thin;
        flex-direction: row;
        background: #fff;
        border-radius: 20px;

        .list {
            padding-top: 20px;
            padding-right: 20px;
            width: fit-content;
            border-right: 1px solid rgba(0, 0, 0, .1);
        }

        .chat-preview {
            
            padding: 10px;
            width: 100px;
            height: auto;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 0;
            .last {
                display: none;
            }

            .info {
                display: none;
            }

            .avatar {
                width: 50px;
                height: 50px;
                margin-bottom: 10px;
                margin-right: 0;

                .members {
                    transform: scale(.5);
                }
            }

            .title {
                font-size: .8rem;
                text-align: center;
            }
        }
    }

        .chat {
            height: 100%;
            width: 100%;
            padding-left: 20px;
            box-sizing: border-box;

            .post {
                margin-top: auto;
            }
    
            .message {
                background: var(--background);
                border-radius: 10px;
                margin-bottom: 20px;
                padding: 10px 20px;
                max-width: 50%;
                width: fit-content;
                display: inline-flex;
                flex-direction: column;
                align-items: flex-start;
                word-wrap: break-word;
                overflow-wrap: break-word;
    
                block.active {
                    border: 1px solid var(--accent-color);
                    align-self: flex-end;
                }
    
                .username {
                    font-size: .9rem;
                    font-weight: 600;
                    margin-bottom: 4px;
                    color: var(--accent-color);
                    cursor: pointer;
                    margin-right: 10px;
    
                    &:hover {
                        text-decoration: underline;
                    }
                }
    
                .top {
                    width: 100%;
                }
            }
    
            .date {
                font-weight: 300;
                font-size: .8rem;
                color: #8a8a8a;
                margin-left: auto;
    
                &::after {
                    display: none;
                }
            }
        }

        .code {
            background: red;
        }
}


.messages {
    display: flex;
    overflow: auto;
    flex-direction: column;
    /* padding: 20px; */
}

@media screen and (max-width: 768px){
    .chat-preview {

        padding: 0;
        box-sizing: border-box;


        .avatar {
            transform: scale(.7);
        }

        .unread {
            transform: scale(.6);
        }
    }
}